<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="../../../../ModuleOne/bin/Debug/net6.0-windows/ModuleOne.dll" moduleType="ModuleOne.Module, ModuleOne, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleOne" startupLoaded="True" />
    <module assemblyFile="../../../../ModuleTwo/bin/Debug/net6.0-windows/ModuleTwo.dll" moduleType="ModuleTwo.Module, ModuleTwo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleTwo" startupLoaded="True" />
  </modules>
</configuration>